<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Consensus</title>
    <% include partials/_head.ejs %>
  </head>

  <body class="friend-poll-body">
    <header class="friend-poll-header">
      <% include partials/_header.ejs %>
    </header>

    <main class="friend-poll-page">
      <% include partials/_login-form.ejs %>
      <div class="thank-you"></div>
      <div class="text-container">
        <div class="title-and-description">
          <h1 class="poll-title" poll_id=<%= poll_id %>><%= poll_name %></h1>
          <p class="poll-description">- <%=poll_description.toUpperCase() %></p>
          <p class="instructions">
            drag your choices into the box in the order of your preference. Then, click the SUBMIT button.
          </p>
          <div class="errors"></div>
        </div>
      </div>

      <div class="choices-container row">
        <section class="choice-container full">
          <p class="container-title full-title">Choices</p>
          <% for(let i = 0; i < choicesArr.length; i++) { %>
          <div class="choice" draggable="true" choice_id=<%= choicesArr[i].id %>>
            <p class="choice-name"><%= choicesArr[i].choice %></p>
            <p class="choice-description"><%= choicesArr[i].description %></p>
          </div>
          <%}%>
        </section>
        <section class="choice-container empty">
          <p class="container-title empty-title">My ranking</p>
        </section>
        <div class="div-for-btn">
          <button class="submit-ranks-btn" type="submit">SUBMIT</button>
        </div>
      </div>


    </main>

    <footer>
      <% include partials/_footer.ejs %>
    </footer>

  </body>
</html>
