<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Consensus</title>
    <% include partials/_head.ejs %>
  </head>

<body class="admin-page">
  <header class="admin-page-header">
    <% include partials/_header.ejs %>
  </header>
  <main class="row">
    <div class="admin-text col-md-6">
      <h1 class="poll-title"><%=poll.poll_name%></h1>
      <p class="poll-description">- <%=poll.description%></p>
      <p class="num-responses">Responses: <%=poll.responses%></p>
      <p class="friend-link">Share this poll using: <a href="p/<%= links.friendLink %>" class="poll-links">localhost:8080/p/<%= links.friendLink %></a></p>
      <div class="choices-div">
        <p class="container-title full-title">Choices</p>
        <%for (let elm of choices) { %>
          <div class="choice">
            <p class="choice-name"><%= elm.choice %></p>
            <p class="choice-description"><%= elm.description%></p>
          </div>
        <% } %>
      </div>
      <button data-poll-id="<%= poll.admin_link %>" id="delete_poll" data-confirm="Are you sure you want to delete this poll?" type="submit">DELETE</button>
    </div>
    <div id="piechart" class="col-md-6"></div>
    <script>
      var data = <%- JSON.stringify(choices) %>
      renderChart(data, 'piechart');
    </script>
    </main>
    <footer>
      <% include partials/_footer.ejs %>
    </footer>

  </body>
</html>
