<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Consensus</title>
    <% include partials/_head.ejs %>
  </head>

<body class="admin-page">
  <header class="admin-page-header">
    <% include partials/_header.ejs %>
  </header>
  <main class="row">
    <div class="admin-text col-md-4">
      <h1 class="poll-title"><%=poll.poll_name%></h1>
      <p class="poll-description"><%=poll.description%></p>
      <p class="num-responses">Responses: <%=poll.responses%></p>
      <table class="choice-ranking">
        <thead>
          <tr>
            <th class="table-title">CHOICE</th>
            <th class="table-title">DESCRIPTION</th>
          </tr>
        </thead>
        <tbody>
        <%for (let elm of choices) { %>
          <tr>
            <td class="choice-name"><%= elm.choice %></td>
            <td class="choice-description"><%= elm.description%></td>
          </tr>
        <% } %>
        </tbody>
      </table>
      <button data-poll-id="<%= poll.admin_link %>" id="delete_poll" data-confirm="Are you sure to delete this poll?" type="submit">Delete</button>

      <section class="link-section">
        <h1 class="links-title">Links</h1>
        <a href="poll/<%= links.adminLink %>" class="poll-links"><p id="admin-link">localhost:8080/poll/<%= links.adminLink %></p></a>
        <a href="p/<%= links.friendLink %>" class="poll-links"><p id="friend-link">localhost:8080/poll/<%= links.friendLink %></p></a>
      </section>
    </div>
    <div id="piechart" class="col-md-8"></div>
    <script>
      var data = <%- JSON.stringify(choices) %>
      renderChart(data, 'piechart');
    </script>
    </main>
    <footer>
      <% include partials/_footer.ejs %>
    </footer>

  </body>
</html>
