<!DOCTYPE html>
<html lang="en">
<head>
  <title>Consensus</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>
  <main>

    <!-- TOGGLE THIS IN AND OUT WITH THE LOGIN BUTTON -->
    <form class="login-form" action="/login" method="POST">
      email: <input type ="email" name="email">
      <br>
      password: <input type ="password" name="password">
      <br>
      <button type="submit">Login</button>
    </form>

    <h1 class="poll-title"><%=poll.poll_name%></h1>
    <p class="poll-description"><%=poll.description%></p>
    <p class="num-responses">Responses: <%=poll.responses%></p>
    <section class="choice-ranking">
      <%for (let elm of choices) { %>
        <p class="choice1"><%= elm.choice %></p>
      <% } %>
    </section>
    <button data-poll-id="<%= poll.admin_link %>" id="delete_poll" data-confirm="Are you sure to delete this poll?" type="submit">Delete</button>
    <!-- <form method="POST" action="/poll/<%= poll.admin_link%>">
      <input id="delete_poll" type="submit" name="" value="Delete">
    </form> -->


    <!-- Replace this with the actual results  -->
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <!-- <img src="/images/logo.png"> -->
  <!-- Only show as many as we need OR MAYBE THEY ARE INCLUDED IN THE CHART??? -->
  <script>
    var data = <%- JSON.stringify(choices) %>
    renderChart(data, 'piechart');
  </script>

  </main>
  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
