<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My polls</title>
    <% include partials/_head.ejs %>
  </head>

<body class="your-polls">
  <header class="your-polls-header">
    <% include partials/_header.ejs %>
  </header>
  <main>
    <article>
      <ul class="container">
        <% for(let poll of polls) { %>
          <a href=<%="http://localhost:8080/poll/" + poll.admin_link%> >
            <li class="item">
            <h1 class="poll-name-h1"><%= poll.poll_name%></h1>
            <div id="chart_<%= poll.id %>" class="poll_chart">
            </div>
            </li>
            </a>
          <% } %>
        </ul>
      </article>

    </main>

    <footer>
      <% include partials/_footer.ejs %>
    </footer>

    <script type="text/javascript">
      var data = <%- JSON.stringify(data) %>
      $(".poll_chart").each(function(index) {
        const elmId = $(this).attr("id");
        const pollId = elmId.replace("chart_", "");
        renderChart(data.filter(elm => elm.poll_id == pollId), elmId);
      })
    </script>

  </main>
  <footer class="your-polls-footer">
    <% include partials/_footer.ejs %>
  </footer>
  <script type="text/javascript">
    var data = <%- JSON.stringify(data) %>
    $('.poll_chart').each(function(index) {
      const elmId = $(this).attr('id');
      const pollId = elmId.replace('chart_', '');
      renderChart(data.filter(elm => elm.poll_id == pollId), elmId);
    })
  </script>
</body>
</html>
